:root {
  // Accent Colors
  --primary-color: #4cacd7;
  --secondary-color: #c87e81;
  --error-color: #b24346;
  --warning-color: #c8b94a;
  --success-color: #5d9c60;
  --text_primary-color: #f9f8f8;
  --text_secondary-color: #9e9e9e;
  --text_disabled-color: #4e5559;
  --focus-color: #d38e0f;
  --focus-color-light: #d38e0f;
  // Background Colors
  --light-bgc: #eeeeee;
  --dark-bgc: #121212;
}

* {
  border: 0;
  box-sizing: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 99;
  position: relative;
}
html {
  display: flex;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'droid-sans-mono', 'bebas-neue-by-fontfabric', monospace;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  font-family: 'droid-sans-mono', 'bebas-neue-by-fontfabric', monospace;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.paragraphSmall {
  font-size: 1.2rem;
}

.centered {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  text-align: center;
}
