.container {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.title {
  margin-top: 2rem;
  text-align: center;
}

.hamburger {
  position: relative;
  z-index: 1300;
  padding: 1rem;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  & svg {
    font-size: 2.5em;
  }
}
